<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace和定义的Mapper接口对应，并实现其中的方法 -->
<mapper namespace="net.sf.ssi.mapper.UserMapper">
	<resultMap type="UserPOJO" id="userResultMap">
		<id property="userId" column="user_id"/>
		<result property="userAccount" column="user_account" />
		<result property="userName" column="user_name" />
		<result property="userPassword" column="user_password" />
		<result property="nickName" column="nick_name" />
		<result property="userSource" column="user_source" />
		<result property="createDate" column="create_date"/>
	</resultMap>
	<!-- id和mapper接口中的方法名对应，resultType使用mybatis-config.xml中的别名 -->
	<insert id="add" parameterType="UserPOJO">
		<![CDATA[
            INSERT INTO T_IKMS_USER
            	(USER_ID,USER_ACCOUNT,USER_NAME,USER_PASSWORD,NICK_NAME,USER_SOURCE,CREATE_DATE)
            	VALUES(#{userId},#{userAccount},#{userName},#{userPassword},#{nickName},#{userSource},#{createDate})
        ]]>
	</insert>
	
	<update id="edit" parameterType="UserPOJO">
		<![CDATA[
			UPDATE T_IKMS_USER
		]]>
		<trim prefix="SET" suffixOverrides=",">
			<if test="userAccount !=null and userAccount !=''">
				USER_ACCOUNT = #{userAccount},
			</if>
		</trim>
		<![CDATA[
			WHERE USER_ID = #{userId}
		]]>
	</update>
	
	<delete id="remove" parameterType="UserPOJO">
		<![CDATA[
			DELETE FROM T_IKMS_USER WHERE USER_ID = #{userId}
		]]>
	</delete>
	
	<select id="findByKey" parameterType="UserPOJO" resultMap="userResultMap">
		<![CDATA[
            SELECT USER_ID,USER_ACCOUNT,USER_NAME,USER_PASSWORD,NICK_NAME,USER_SOURCE,CREATE_DATE 
            	 FROM T_IKMS_USER 
            	 WHERE 
            	 USER_ID=#{userId}
        ]]>
	</select>
	<select id="find" parameterType="UserPOJO" resultMap="userResultMap">
		<![CDATA[
            SELECT USER_ID,USER_ACCOUNT,USER_NAME,USER_PASSWORD,NICK_NAME,USER_SOURCE,CREATE_DATE 
            	 FROM T_IKMS_USER 
        ]]>
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="userId != null and userId != '' ">
				AND USER_ID = #{userId}
			</if>
			<if test="userAccount != null and userAccount != '' ">
				AND USER_ACCOUNT = #{userAccount}
			</if>
			<if test="userPassword != null and userPassword != ''">
				AND USER_PASSWORD = #{userPassword}
			</if>
			<if test="userSource != null and userSource != '' ">
				AND USER_SOURCE = #{userSource}
			</if>
			<if test="createDate != null and createDate != '' ">
				AND CREATE_DATE = #{createDate}
			</if>
		</trim>
		<![CDATA[
			 ORDER BY USER_ID
		]]>
	</select>
</mapper>