<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace和定义的Mapper接口对应，并实现其中的方法 -->
<mapper namespace="net.sf.ssi.mapper.UserMapper">
	<resultMap type="UserPOJO" id="userResultMap">
		<result property="userId" column="user_id" />
		<result property="userAccount" column="user_account" />
		<result property="userName" column="user_name" />
		<result property="userPassword" column="user_password" />
		<result property="nickName" column="nick_name" />
		<result property="userSource" column="user_source" />
		<result property="createDate" column="create_date" />
	</resultMap>

	<!-- id和mapper接口中的方法名对应，resultType使用mybatis.xml中的别名 -->
	<select id="getInfoByKey" parameterType="String" resultType="UserPOJO">
		<![CDATA[
            SELECT * FROM T_IKMS_USER WHERE USER_ID=#{key}
        ]]>
	</select>
	<select id="findAll" resultMap="userResultMap">
		<![CDATA[
            SELECT * FROM T_IKMS_USER ORDER BY USER_ID
        ]]>
	</select>
	<insert id="saveEntity" parameterType="UserPOJO">
		<![CDATA[
            INSERT INTO T_IKMS_USER(USER_ID,USER_NAME,PASSWORD)
            	VALUES(#{userId},#{userName},#{password})
        ]]>
	</insert>
</mapper>