<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace和定义的Mapper接口对应，并实现其中的方法 -->
<mapper namespace="net.sf.ssi.mapper.UserMapper">
	<resultMap type="UserPOJO" id="userResultMap">
		<result property="userId" column="user_id"/>
		<result property="userAccount" column="user_account" />
		<result property="userName" column="user_name" />
		<result property="userPassword" column="user_password" />
		<result property="nickName" column="nick_name" />
		<result property="userSource" column="user_source" />
		<result property="createDate" column="create_date"/>
	</resultMap>

	<!-- id和mapper接口中的方法名对应，resultType使用mybatis.xml中的别名 -->
	<select id="getInfoByKey" parameterType="String" resultType="UserPOJO">
		<![CDATA[
            SELECT * FROM T_IKMS_USER WHERE USER_ID=#{key}
        ]]>
	</select>
	<select id="find" parameterType="UserPOJO" resultMap="userResultMap">
		<![CDATA[
            SELECT * FROM T_IKMS_USER
        ]]>
		<dynamic prepend="where">
			<isNotEmpty property="userId" prepend="and">
				user_id = #userId#
	        </isNotEmpty>
			<isNotEmpty property="userAccount" prepend="and">
				user_account = #userAccount#
	        </isNotEmpty>
			<isNotEmpty property="userSource" prepend="and">
				user_source = #userSource#
	        </isNotEmpty>
			<isNotEmpty property="createDate" prepend="and">
				create_date = #createDate#
	        </isNotEmpty>
		</dynamic>
		<![CDATA[
			 ORDER BY USER_ID
		]]>
	</select>
	<insert id="add" parameterType="UserPOJO">
		<![CDATA[
            INSERT INTO T_IKMS_USER(USER_ID,USER_NAME,USER_PASSWORD)
            	VALUES(#{userId},#{userName},#{userPassword})
        ]]>
	</insert>
</mapper>